body{
    background-image: url(img/hearts.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    
}
.Container{
    max-width: 800px;
    max-height: 600px;
    text-align: center;
    margin: 150px auto;
}

.card{
    border-radius: 15px;
    box-shadow: 20px 10px 10px 10px rgba(0, 0, 0, 0.2);
    
}

img{
    max-width: 100px;
    margin-bottom: 20px;

}

input[type="submit"]{
    margin: 10px;
    width: 100px;
    border-radius: 15px;
   
}

input[type="submit"]:hover{
    background-color: #FF9999;
    transform: scale(1.2);
    transition: 0.2;
}

